@charset "UTF-8";


.btn-default-flat {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default-flat:hover,
.btn-default-flat:focus,
.btn-default-flat:active,
.btn-default-flat.active,
.open>.btn-default-flat.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default-flat:active,
.btn-default-flat.active,
.open>.btn-default-flat.dropdown-toggle {
    background-image: none
}

.btn-default-flat.disabled,
.btn-default-flat.disabled:hover,
.btn-default-flat.disabled:focus,
.btn-default-flat.disabled:active,
.btn-default-flat.disabled.active,
.btn-default-flat[disabled],
.btn-default-flat[disabled]:hover,
.btn-default-flat[disabled]:focus,
.btn-default-flat[disabled]:active,
.btn-default-flat[disabled].active,
fieldset[disabled] .btn-default-flat,
fieldset[disabled] .btn-default-flat:hover,
fieldset[disabled] .btn-default-flat:focus,
fieldset[disabled] .btn-default-flat:active,
fieldset[disabled] .btn-default-flat.active {
    background-color: #fff;
    border-color: #ccc
}

.btn-default-flat .badge {
    color: #fff;
    background-color: #333
}

.btn-primary-flat {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd
}

.btn-primary-flat:hover,
.btn-primary-flat:focus,
.btn-primary-flat:active,
.btn-primary-flat.active,
.open>.btn-primary-flat.dropdown-toggle {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e
}

.btn-primary-flat:active,
.btn-primary-flat.active,
.open>.btn-primary-flat.dropdown-toggle {
    background-image: none
}

.btn-primary-flat.disabled,
.btn-primary-flat.disabled:hover,
.btn-primary-flat.disabled:focus,
.btn-primary-flat.disabled:active,
.btn-primary-flat.disabled.active,
.btn-primary-flat[disabled],
.btn-primary-flat[disabled]:hover,
.btn-primary-flat[disabled]:focus,
.btn-primary-flat[disabled]:active,
.btn-primary-flat[disabled].active,
fieldset[disabled] .btn-primary-flat,
fieldset[disabled] .btn-primary-flat:hover,
fieldset[disabled] .btn-primary-flat:focus,
fieldset[disabled] .btn-primary-flat:active,
fieldset[disabled] .btn-primary-flat.active {
    background-color: #428bca;
    border-color: #357ebd
}

.btn-primary-flat .badge {
    color: #428bca;
    background-color: #fff
}

.btn-success-flat {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success-flat:hover,
.btn-success-flat:focus,
.btn-success-flat:active,
.btn-success-flat.active,
.open>.btn-success-flat.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success-flat:active,
.btn-success-flat.active,
.open>.btn-success-flat.dropdown-toggle {
    background-image: none
}

.btn-success-flat.disabled,
.btn-success-flat.disabled:hover,
.btn-success-flat.disabled:focus,
.btn-success-flat.disabled:active,
.btn-success-flat.disabled.active,
.btn-success-flat[disabled],
.btn-success-flat[disabled]:hover,
.btn-success-flat[disabled]:focus,
.btn-success-flat[disabled]:active,
.btn-success-flat[disabled].active,
fieldset[disabled] .btn-success-flat,
fieldset[disabled] .btn-success-flat:hover,
fieldset[disabled] .btn-success-flat:focus,
fieldset[disabled] .btn-success-flat:active,
fieldset[disabled] .btn-success-flat.active {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success-flat .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info-flat {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info-flat:hover,
.btn-info-flat:focus,
.btn-info-flat:active,
.btn-info-flat.active,
.open>.btn-info-flat.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info-flat:active,
.btn-info-flat.active,
.open>.btn-info-flat.dropdown-toggle {
    background-image: none
}

.btn-info-flat.disabled,
.btn-info-flat.disabled:hover,
.btn-info-flat.disabled:focus,
.btn-info-flat.disabled:active,
.btn-info-flat.disabled.active,
.btn-info-flat[disabled],
.btn-info-flat[disabled]:hover,
.btn-info-flat[disabled]:focus,
.btn-info-flat[disabled]:active,
.btn-info-flat[disabled].active,
fieldset[disabled] .btn-info-flat,
fieldset[disabled] .btn-info-flat:hover,
fieldset[disabled] .btn-info-flat:focus,
fieldset[disabled] .btn-info-flat:active,
fieldset[disabled] .btn-info-flat.active {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info-flat .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning-flat {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning-flat:hover,
.btn-warning-flat:focus,
.btn-warning-flat:active,
.btn-warning-flat.active,
.open>.btn-warning-flat.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning-flat:active,
.btn-warning-flat.active,
.open>.btn-warning-flat.dropdown-toggle {
    background-image: none
}

.btn-warning-flat.disabled,
.btn-warning-flat.disabled:hover,
.btn-warning-flat.disabled:focus,
.btn-warning-flat.disabled:active,
.btn-warning-flat.disabled.active,
.btn-warning-flat[disabled],
.btn-warning-flat[disabled]:hover,
.btn-warning-flat[disabled]:focus,
.btn-warning-flat[disabled]:active,
.btn-warning-flat[disabled].active,
fieldset[disabled] .btn-warning-flat,
fieldset[disabled] .btn-warning-flat:hover,
fieldset[disabled] .btn-warning-flat:focus,
fieldset[disabled] .btn-warning-flat:active,
fieldset[disabled] .btn-warning-flat.active {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning-flat .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger-flat {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger-flat:hover,
.btn-danger-flat:focus,
.btn-danger-flat:active,
.btn-danger-flat.active,
.open>.btn-danger-flat.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger-flat:active,
.btn-danger-flat.active,
.open>.btn-danger-flat.dropdown-toggle {
    background-image: none
}

.btn-danger-flat.disabled,
.btn-danger-flat.disabled:hover,
.btn-danger-flat.disabled:focus,
.btn-danger-flat.disabled:active,
.btn-danger-flat.disabled.active,
.btn-danger-flat[disabled],
.btn-danger-flat[disabled]:hover,
.btn-danger-flat[disabled]:focus,
.btn-danger-flat[disabled]:active,
.btn-danger-flat[disabled].active,
fieldset[disabled] .btn-danger-flat,
fieldset[disabled] .btn-danger-flat:hover,
fieldset[disabled] .btn-danger-flat:focus,
fieldset[disabled] .btn-danger-flat:active,
fieldset[disabled] .btn-danger-flat.active {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger-flat .badge {
    color: #d9534f;
    background-color: #fff
}

.navbar-blue {
    background-color: #4184f3;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
}

.navbar-blue .navbar-brand {
    color: #eee
}

.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #fff;
    background-color: transparent
}

.navbar-blue .navbar-text {
    color: #eee
}

.navbar-blue .navbar-nav>li>a,
.navbar-blue .navbar-nav>li>span {
    color: #eee
}

.navbar-blue .navbar-nav>li>a:hover,
.navbar-blue .navbar-nav>li>a:focus,
.navbar-blue .navbar-nav>li>span:hover,
.navbar-blue .navbar-nav>li>span:focus {
    color: #fff;
    background-color: #1165f0
}

.navbar-blue .navbar-nav>.active>a,
.navbar-blue .navbar-nav>.active>a:hover,
.navbar-blue .navbar-nav>.active>a:focus,
.navbar-blue .navbar-nav>.active>span,
.navbar-blue .navbar-nav>.active>span:hover,
.navbar-blue .navbar-nav>.active>span:focus {
    color: #fff;
    background-color: #1165f0
}

.navbar-blue .navbar-nav>.disabled>a,
.navbar-blue .navbar-nav>.disabled>a:hover,
.navbar-blue .navbar-nav>.disabled>a:focus,
.navbar-blue .navbar-nav>.disabled>span,
.navbar-blue .navbar-nav>.disabled>span:hover,
.navbar-blue .navbar-nav>.disabled>span:focus {
    color: #444;
    background-color: transparent
}

.navbar-blue .navbar-toggle {
    border-color: #eee
}

.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #1165f0
}

.navbar-blue .navbar-toggle .icon-bar {
    background-color: #eee
}

.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
    border-color: #1f6ef1
}

.navbar-blue .navbar-nav {
    border-bottom: none
}

.navbar-blue .navbar-nav li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.navbar-blue .navbar-nav li:first-of-type {
    border-top: none
}

.navbar-blue .navbar-nav li:last-of-type {
    border-bottom: none
}

.navbar-blue .navbar-nav .dropdown-toggle:hover {
    background-color: #1165f0
}

.navbar-blue .navbar-nav>.open>a,
.navbar-blue .navbar-nav>.open>a:hover,
.navbar-blue .navbar-nav>.open>a:focus,
.navbar-blue .navbar-nav>.open>span,
.navbar-blue .navbar-nav>.open>span:hover,
.navbar-blue .navbar-nav>.open>span:focus {
    color: #fff;
    background-color: #1165f0
}

@media (max-width: 767px) {
    .navbar-blue .navbar-nav {
        border-bottom: 1px solid #1165f0
    }
    .navbar-blue .navbar-nav:last-of-type {
        border-bottom: none
    }
    .navbar-blue .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #1165f0
    }
    .navbar-blue .navbar-nav .open .dropdown-menu .divider {
        background-color: #1165f0
    }
    .navbar-blue .navbar-nav .open .dropdown-menu>li>a,
    .navbar-blue .navbar-nav .open .dropdown-menu>li>span {
        color: #eee
    }
    .navbar-blue .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-blue .navbar-nav .open .dropdown-menu>li>span:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu>li>span:focus {
        color: #fff;
        background-color: #1165f0
    }
    .navbar-blue .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-blue .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-blue .navbar-nav .open .dropdown-menu>.active>span,
    .navbar-blue .navbar-nav .open .dropdown-menu>.active>span:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu>.active>span:focus {
        color: #fff;
        background-color: #1165f0
    }
    .navbar-blue .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-blue .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu>.disabled>a:focus,
    .navbar-blue .navbar-nav .open .dropdown-menu>.disabled>span,
    .navbar-blue .navbar-nav .open .dropdown-menu>.disabled>span:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu>.disabled>span:focus {
        color: #444;
        background-color: transparent
    }
}

.navbar-blue .navbar-link {
    color: #eee
}

.navbar-blue .navbar-link:hover {
    color: #fff
}

.navbar-blue .btn-link {
    color: #eee
}

.navbar-blue .btn-link:hover,
.navbar-blue .btn-link:focus {
    color: #fff
}

.navbar-blue .btn-link[disabled]:hover,
.navbar-blue .btn-link[disabled]:focus,
fieldset[disabled] .navbar-blue .btn-link:hover,
fieldset[disabled] .navbar-blue .btn-link:focus {
    color: #444
}

@media (min-width: 768px) {
    .navbar-nav>li:hover>.dropdown-menu {
        display: block
    }
    .navbar-nav>li>.dropdown-menu:before {
        content: "";
        border: 8px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.15);
        position: absolute;
        top: -16px;
        left: 12px
    }
    .navbar-nav>li>.dropdown-menu:after {
        content: "";
        border: 8px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        top: -15px;
        left: 12px
    }
    .navbar-nav.navbar-right>li>.dropdown-menu:before {
        right: 15px;
        left: auto
    }
    .navbar-nav.navbar-right>li>.dropdown-menu:after {
        right: 15px;
        left: auto
    }
}

@media (min-width: 768px) {
    .panel-300 {
        width: 300px;
        margin: auto
    }
    .panel-400 {
        width: 400px;
        margin: auto
    }
    .panel-500 {
        width: 500px;
        margin: auto
    }
    .panel-600 {
        width: 600px;
        margin: auto
    }
    .panel-700 {
        width: 700px;
        margin: auto
    }
    .panel-750 {
        width: 750px;
        margin: auto
    }
    .panel-900 {
        width: auto
    }
}

@media all and (min-width: 992px) {
    .panel-900 {
        width: 900px;
        margin: auto
    }
}
.docs-header {
    margin-top: 50px;
    padding: 30px;
    background-color: #fff;
    border-bottom: 1px solid #ddd
}

.docs-header h1 {
    margin-top: 0
}

.docs-header p {
    margin-top: 30px;
    color: #333
}

.docs-header #github-link {
    margin-top: 50px
}

@media screen and (min-width: 480px) {
    .docs-header h1 {
        font-size: 60px;
        line-height: 1
    }
}

.loading {
    text-align: center;
    padding: 30px;
    border: 1px solid #777;
    border-radius: 4px
}

article {
    margin-top: 100px
}

section {
    margin-bottom: 50px
}

section .panel .panel-heading h1 {
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 24px
}

section .panel h2 {
    font-size: 18px
}

section .panel h3 {
    font-size: 14px
}

section .panel .panel {
    margin: 20px;
    margin-top: 0;
    box-shadow: none
}

section .panel .panel .table ul {
    -moz-padding-start: 20px;
    -webkit-padding-start: 20px
}

section .panel .panel .table ul>li {
    line-height: 1.5;
    margin-bottom: 5px
}

section .panel .panel .table td pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto
}

@media screen and (min-width: 992px) {
    section .panel .panel.doc-return .table tr th:first-of-type,
    section .panel .panel.doc-return .table tr td:first-of-type {
        width: 100px
    }
    section .panel .panel.doc-args .table tr th:first-of-type,
    section .panel .panel.doc-args .table tr td:first-of-type {
        width: 150px
    }
    section .panel .panel.doc-args .table tr th:nth-of-type(2),
    section .panel .panel.doc-args .table tr td:nth-of-type(2) {
        width: 100px
    }
}

.margin-auto {
    margin: auto
}

.margin-width-auto {
    margin-left: auto;
    margin-right: auto
}

.margin-none {
    margin: 0px
}

.margin-left-none {
    margin-left: 0px
}

.margin-right-none {
    margin-right: 0px
}

.margin-top-none {
    margin-top: 0px
}

.margin-bottom-none {
    margin-bottom: 0px
}

.margin-sm {
    margin: 5px
}

.margin-left-sm {
    margin-left: 5px
}

.margin-right-sm {
    margin-right: 5px
}

.margin-top-sm {
    margin-top: 5px
}

.margin-bottom-sm {
    margin-bottom: 5px
}

.margin-md {
    margin: 10px
}

.margin-left-md {
    margin-left: 10px
}

.margin-right-md {
    margin-right: 10px
}

.margin-top-md {
    margin-top: 10px
}

.margin-bottom-md {
    margin-bottom: 10px
}

.margin-lg {
    margin: 15px
}

.margin-left-lg {
    margin-left: 15px
}

.margin-right-lg {
    margin-right: 15px
}

.margin-top-lg {
    margin-top: 15px
}

.margin-bottom-lg {
    margin-bottom: 15px
}

.margin-xl {
    margin: 30px
}

.margin-left-xl {
    margin-left: 30px
}

.margin-right-xl {
    margin-right: 30px
}

.margin-top-xl {
    margin-top: 30px
}

.margin-bottom-xl {
    margin-bottom: 30px
}

input.mcinput,
textarea.mcinput {
    margin-bottom: 15px;
    width: 100%;
}
div.mcinput {
    border: 1px solid #999;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 6px 10px;
}